.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #FCFCFC;
    height: 60px;
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.2);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    max-width: 1008px;
}
.header__logo {
    height: 48px;
}
.header__userSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.header__userName {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px dashed black;
}
.header__userImg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}