@import url('styles/variables.css');
@import url('styles/reset.css');

/*features*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  color: var(--black-color);
  font-weight: 500;
  font-style: normal;
  background-color: var(--background--color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}